# Define which AI provider to use
AI=academic # or openai

# Academic Cloud API
ACADEMIC_API_KEY=your_academic_api_key
ACADEMIC_API_ENDPOINT=https://chat-ai.academiccloud.de/v1
ACADEMIC_MODEL=llama-3.3-70b-instruct # or mistral-large-instruct

# OpenAI API
OPENAI_API_KEY=your_openai_api_key
OPENAI_API_ENDPOINT=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o-mini

# LangChain API
LANGCHAIN_API_KEY=your_langchain_api_key

# STAC catalog
BASE_URL_STAC=https://geoservice.dlr.de/eoc/ogc/stac/v1