folium==0.19.7
ipython==9.2.0
langchain_core==1.2.17
langchain_openai==1.1.10
langgraph==1.0.10
matplotlib==3.10.8
networkx==3.4.2
numpy==2.4.2
pandas==3.0.1
pydantic==2.12.5
python-dotenv==1.2.2
python_dateutil==2.9.0.post0
Requests==2.32.5
scikit_learn==1.8.0
seaborn==0.13.2
Shapely==2.1.2
streamlit==1.52.1
tensorboard==2.20.0
torch==2.7.0
torch_geometric==2.7.0
